@model Humano.Models.Alumno
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Mi nombre es: @Model.Nombre</p> 
        <p>Mi DNI es: @Model.Dni</p>
        <p>Mi edad es: @Model.Edad</p>
    </div>
</body>
</html>
