
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Response.Cookies["usuario"]["usuarioId"]
        <br />
        @Response.Cookies["usuario"]["ultimaVisita"]
        <br />
        @Response.Cookies["usuario"].Expires
    </div>
</body>
</html>
