@model Vectores.Models.VectorR3

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Multiplicacion</title>
</head>
<body>
    <div>
         @Model.resultado 
    </div>
</body>
</html>
