
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>
            @Html.ActionLink("Mostrar Todos", "Mostrar", "Home")
        </p>
        <p>
            @Html.ActionLink("Mostrar Pares Lambda", "MostrarParesLambda", "Home")
        </p>
        <p>
            @Html.ActionLink("Mostrar Pares Linq", "MostrarParesLinq", "Home")
        </p>
       
    </div>
</body>
</html>
