
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        @foreach (var empleado in ViewData["Empleados"] as List<string>)
        {
   
            <li>@empleado</li>
        }
    </ul>


</body>
</html>
